.promptli .dpd .calendar {

}


.promptli .dpd .monthPicker {
    flex-direction: row;
    justify-content: space-evenly;
    width: 250px;
}


.promptli .dpd .nextMonth, .dpd .prevMonth {
    border-radius: 5px;
    width: auto;
}

.promptli input[type="text"] {
    padding: .5em 1em;
    font-size: 1em;
    max-width: 95px;
    text-align: center;
    border-radius: 5px;
    box-shadow: none;
    border: 2px solid rgba(24,33,82,1);
}
