import React, { Component, Fragment } from 'react'
import PropTypes from 'prop-types'


class {{properCase name}} extends Component {
    static defaultProps = {}
    static propTypes = {}
    static async getInitialProps() {
        return {
            {{camelCase name}}: ''
        }
    }
    render() {
        return (
            <Fragment>
                <div>{{properCase name}}</div>
            </Fragment>
        )
    }
}

export default {{properCase name}}

